[submodule "lib/libescpos"]
	path = lib/libescpos
	url = https://github.com/bwisn/libescpos
[submodule "lib/libnetthermprint"]
	path = lib/libnetthermprint
	url = https://github.com/bwisn/libnetthermprint
